/*Header and logo*/
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: darkslateblue;
}

.header2 {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo{
    height: 100%;
    display: table;
    margin: 0 auto;
}

.logo h1{
    color: azure;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    font-weight: 200;
}

.logo h1 span{
    color: azure;
    font-weight: 999;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigationa li {
    display: table-cell; 
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
} 

/*Background: full-height image, centered*/

body, html {
 margin: 0;
 padding: 0;
 background-image: url("ferrari_retrowave.jpg");
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

/*Extending search bar*/

.searchbar {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: darkslateblue;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.searchbar:hover > .searchtext {
 width: 240px;
 padding: 0 6px;
}

.searchbar:hover > searchextend {
 background: azure;
 color: azure;
}

.searchextend {
 color: darkslateblue;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.2s;
 color: azure;
 cursor: pointer;
}

.searchextend > i {
 font-size: 20px;
}

.searchtext {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 font-size: 14px;
 transition: 0.2s;
 line-height: 40px;
 width: 0px;
 color: azure;
}

/*Placeholder Color (for Searchbar)*/

::placeholder {
  color: azure;
}

/* LOGIN PAGE*/

.login{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: darkslateblue;
    text-align: center;
}

.login h1{
    font-family: 'Krona One', sans-serif;
    color: azure;
    text-transform: uppercase;
    font-weight: 200;
}

.login input[type="text"], .login input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    border: 2px solid azure;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: azure;
    border-radius: 24px;
}

.login input[type="submit"]{
    border: 0;
    background: azure;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid azure;
    font-family: 'Krona One', sans-serif;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: darkslateblue;
    border-radius: 24px;
    cursor: pointer;
}

/* Car infobox */

.infobox{
    width: 450px;
    background: darkslateblue;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: azure;
    font-family: 'Krona One', sans-serif;
}

.infobox h1{
    font-size: 30px;
    font-family: 'Krona One', sans-serif;
}

#searchBar {
    display: block;
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    text-align: center;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin: auto;
    background-image: url("searchIcon.png"); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-size: 20px 20px;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    
}

#carTable {
    border-collapse: collapse; /* Collapse borders */
    width: 50%; /* Full-width */
    border: 4px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    margin: 100px auto;
}

#carTable th, #carTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#carTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#carTable tr.header1, #carTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}