/*Header and logo*/
.header{
    width: 99%;
    height: 80px;
    display: block;
    background-color: black;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
}

.header2 {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo{
    height: 100%;
    display: table;
    margin: 0 auto;
}

.logo h1{
    color: azure;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    font-weight: 200;
}

.logo h1 span{
    color: azure;
    font-weight: 999;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigationa li {
    display: table-cell; 
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
} 

/*Background: full-height image, centered*/

body, html {
 margin: 0;
 padding: 0;
 background-image: url(img/background.jpg);
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

/*Extending search bar*/

.searchbar {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: black;
 height: 40px;
 border-radius: 15px;
 padding: 10px;
}

.searchbar:hover > .searchtext {
 width: 240px;
 padding: 0 6px;
}

.searchbar:hover > searchextend {
 background: azure;
 color: azure;
}

.searchextend {
 color: black;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.2s;
 color: azure;
 cursor: pointer;
}

.searchextend > i {
 font-size: 20px;
}

.searchtext {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 font-size: 14px;
 transition: 0.2s;
 line-height: 40px;
 width: 0px;
 color: azure;
}

/*Placeholder Color (for Searchbar)*/

::placeholder {
  color: azure;
}

/* LOGIN PAGE*/

.login{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 15px;
    text-align: center;
}

.login h1{
    font-family: 'Krona One', sans-serif;
    color: azure;
    text-transform: uppercase;
    font-weight: 200;
}

.login input[type="text"], .login input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    border: 2px solid azure;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: azure;
    border-radius: 15px;
}

.login input[type="submit"]{
    border: 0;
    background: azure;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    padding: 17px 10px;
    width: 226px;
    outline: none;
    color: black;
    border-radius: 15px;
    cursor: pointer;
}

/* Car infobox */

.infobox{
    width: 715px;
    height: 675px;
    border-radius: 15px;
    background: black;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: azure;
    font-family: 'Krona One', sans-serif;
}

.infobox h1{
    font-size: 30px;
    font-family: 'Krona One', sans-serif;
}

.infoboximg{
    border-radius: 15px;
}

.infobox ul, p{
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
}

.infobox ul{
    width: 50%;
}

.infobox p{
    float: right;
    width: 50%;
    padding: 0;
}

.sharebuttons{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 53%;
    top: 87%;
}